#tribute-info {
    background: #CD853F;
}
#tribute-info p {
    line-height: 2;
}
body {
    background: #FFE4C4;
}

img {
    max-width: 30%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto; 
}

#title {
    text-align: center;
    text-transform: uppercase;
}

#subtitle {
    text-align:center;
    font-style: italic;
}

#img-caption {
    font-style:italic;
    margin-top: 0;
    text-align: center;

}

#quote {
    text-align: center;
    font-style: italic;
}